* {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 100vh;
    background-image: url(images/bg-desktop.png);
    background-size: unset;
    background-position-y: bottom;
    background-color: #0c122c;
    background-repeat: no-repeat;  
}

p {
    color: white;
    margin: 0;
}

/*------card-------*/

.card-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: fit-content;
    width: 64%;
    gap: 2rem;
}

.card {
    background-color: hsl(228, 56%, 26%);
    border-radius: 1rem;
    width: 86%;
}

.logo-card {
    width: 40%;
    padding: 2.5rem;
    border-top-right-radius: 8rem;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1.8rem;
}

.icon {
    background-color: #0c122c;
    padding: 0.8rem;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-card {
    width: 58.5%;
    background-color: #1e2d69;
    position: relative;
    padding: 2.5rem;
}

.info-content {
    font-size: 14px;
    color: #ffffff;
    font-weight: lighter;
}

.loading-bar {
    margin: 1rem 0 0.5rem 0;
    width: 100%;
    padding: 2px;
    background-color: #0c122c;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  } 

.color-bar {
    width: 75%;
    border-radius: 0.5rem;
    background: linear-gradient(
        to right, 
        #ffa197, 
        #ff4a95);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
}

.white-dot {
    padding: 3px;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 12px;
}

.edges {
    display: flex;
    justify-content: space-between;
}

.text {
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: 700;
}

.floating-msg-box {
    position: absolute;
    right: 2.5rem;
    top: -3.2rem;
}

.msg {
    background-color: #ffffff;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#freeStorage {
    font-size: 2.4rem;
}

.msg span {
    color: #0c122c;
    opacity: 50%;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    margin-left: 0.6rem;
}

.triangle {
    position: absolute;
    top: 60px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 36px solid #ffffff;
    border-left: 30px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
}

@media only screen and (max-width: 768px) {
    body {
        max-width: 768px;
        background-image: url(images/bg-desktop.png);
    }
  
    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        width: 76%;
        gap: 1.5rem;
    }

    .logo-card {
        width: 100%;
    }

    .info-card {
        width: 100%;
    }

    .triangle {
        display: none;
    }

    .floating-msg-box {
        position: absolute;
        left: 50%;
        top: 78%;
        transform: translateX(-50%);
    }
  
}

@media only screen and (max-width: 375px) {
    body {
        max-width: 375px;
        background-image: url(images/bg-mobile.png);
    }
  
    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        width: 87%;
        gap: 1rem;
    }

    .card {
        width: 100%;
    }

    .info-content {
        font-size: 0.8rem;
        text-align: center;
    }

    .text {
        font-size: 0.7rem;
        font-weight: 700;
    }

    .triangle {
        display: none;
    }

    .floating-msg-box {
        position: absolute;
        width: 45%;
        left: 50%;
        top: 78%;
        transform: translateX(-50%);
    }

    #freeStorage {
        font-size: 1.6rem;
    }
    
    .msg span {
        font-size: 0.5rem;
        margin-left: 0.5rem;
    }
  
}
